<app-header></app-header>
<div class="main-container">
  <div class="central-section">
    <div class="image-container">
      <img src="assets/freepik__the-style-is-candid-image-photography-with-natural__97355.jpeg" alt="Studenti in aula" >
    </div>
    <div class="text-container">
      <h2>Trova l'aula studio perfetta!</h2>
      <p>La mia applicazione ti permette di visualizzare in tempo reale la disponibilità delle aule all'interno dell'Università della Calabria. Semplice, veloce e intuitiva, è lo strumento ideale per organizzare al meglio le tue sessioni di studio.</p>
    </div>
  </div>
</div>

