<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>UNICAL - DIMES</title>
</head>

<div class="top-bar">
  <span>📚 Welcome to the classroom management system of the University of Calabria</span>
</div>
<form>
  <div class="header">
    <div class="logo-section">
      <img class="h-50" src="https://cdn.jsdelivr.net/gh/UniversitaDellaCalabria/unicms-template-unical@1.8.10/src/unicms_template_unical/static/images/logos/dimes.svg" alt="Logo DIMES">
    </div>
    <div class="nav-links">
      <a href="/login">Login</a>
      <a href="/register">Register</a>
    </div>
  </div>
</form>
