<app-header></app-header>
<div class="main-container">
  <div class="central-section">
    <div class="image-container">
      <img src="../../../../assets/freepik__the-style-is-candid-image-photography-with-natural__97355.jpeg" alt="Studenti in aula" >
    </div>
    <div class="text-container">
      <h2>Find the perfect study room!</h2>
      <p>My application allows you to view the real-time availability of classrooms within the University of Calabria.
          Simple, fast, and intuitive, it is the ideal tool for organizing your study sessions better.</p>
    </div>
  </div>
</div>

